<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - Creators</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" style="font-size: 25px">
          <i class="bi bi-headphones me-2"></i>RHYTHMIX</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/admin_dashboard"
                >Dashboard</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin_songs">Songs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin_albums">Albums</a>
            </li>
          </ul>
          <form
            class="d-flex"
            role="search"
            method="POST"
            action="/admin_search"
          >
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
              name="query"
            />
            <button class="btn btn-outline-light" type="submit">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </form>
          <li class="nav-item navbar-nav">
            <a href="/" class="nav-link"
              >Logout <i class="fa-solid fa-right-from-bracket"></i
            ></a>
          </li>
        </div>
      </div>
    </nav>
    <div class="content container">
      <table class="table">
        <tbody>
          {% for creator in creators %}
          <tr>
            <td></td>
            <td>
              <img
                src="{{url_for('static', filename='profile_pictures/'+creator.profile_pic)}}"
                alt=""
                class="table-image rounded"
              />
              {{creator.name}}
            </td>
            <td>
              {% if creator.blacklisted %}
              <a href="/blacklist/{{creator.user_id}}" class="btn btn-light"
                >Whitelist</a
              >
              {% else %}
              <a href="/blacklist/{{creator.user_id}}" class="btn btn-dark"
                >Blacklist</a
              >
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
